body {
    background-color: rgba(140, 140, 140, 0.1);
}

.bg-light {
    background-color: rgba(140, 140, 140, 0.1) !important;
}

pre {
    background: #001628;
    border:     solid 1px black;
    color:      #f5d67b;
    padding:    1rem;
}

.scoring-navigation {
    display:         flex;
    flex-direction:  row;
    flex-wrap:       nowrap;
    justify-content: space-between;
    align-items:     center;
    margin:          2rem;
}
.scoring-navigation-entity {
    flex-grow:  1;
    text-align: center;
}