{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block description %}Nigel's Advent Of Code.{% endblock %}

{% block body %}
    <h1>Advent Of Code - League</h1>
    <h3>{{ leaderboard.year }}</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Stars</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
      {% for individual in leaderboard.members|sort((a, b) => b.localScore <=> a.localScore) %}
        <tr>
          <td scope="row">{{ individual.name }}</td>
          <td>{{ individual.starCount }}</td>
          <td>{{ individual.localScore }}</td>
        </tr>
      {% endfor %}
  </tbody>
</table>


{% endblock %}
